body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e958bd;
}

.board {
  display: grid;
  gap: 1px;
  background-color: #3b3853;
  width: 100%; /* Set width to 100% */
  height: 100vh;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 83, 164);
  cursor: pointer;
  font-size: 2rem;
}

.cell.revealed {
  background-color: #331203;
  cursor: default;
  color: rgb(252, 98, 218);
}

.cell.mine {
  background-color: red;
}

.cell.flagged {
  background-color: rgb(255, 255, 255);
  color: red;
}

.score-overlay {
  background-color: #000000b3;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.toast {
  background-color: #000000b3;
  border-radius: 5px;
  color: #fff;
  display: none;
  font-size: 18px;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.restart-btn,
.leaderboard-btn {
  background-color: #add8e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  position: fixed;
  top: 10px;
  z-index: 1000;
}

.restart-btn {
  left: 10px;
}

.leaderboard-btn {
  left: 90px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.leaderboard {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.leaderboard th,
.leaderboard td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.leaderboard th {
  background-color: #f2f2f2;
}

.submit-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000b3;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-score input {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
}

.submit-score button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.notification {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  z-index: 1000;
  font-size: 16px;
}

.notification.show {
  display: block;
}
